.ImageCard {
  width: 15%;
  margin: 10px;
  box-shadow: $box-shadow;


  img {
    width: 100%;
    position: relative;
    padding: 0;
    height: 100%;

  }
}

.ImageCard:hover,
.ImageCard:focus,
.ImageCard:active {
  box-shadow: $box-shadow-highlight;
}

.ImageCard--highlight {
  width: 15%;
  margin: 10px;
  padding: 0;
  box-shadow: $box-shadow-inset;
  outline: 3px solid $highlight-red;
  img {
    width: 100%;
    position: relative;
    padding: 0;
    height: 100%;
  }
}
