.TalkBoardStory--wrapper{
  width: 680px;
  margin: 0px auto;
  height: 22vh;
  margin-top: $base-margin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 0;
  background-color: white;

}

.TalkBoardStory {
  margin: 0px auto;
  border-radius:15px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  .ImageCard {
    z-index: 10;
  }
}

.TalkBoardStory--bar {
  background-color: $highlight-red;
  width: 100%;
  height: 30px;
  position: absolute;
  z-index: 9;
}
