.Button{
  text-align: center;
  margin: 10px auto;
  width: 200px;
  height: 30px;
// linear-gradient(#1BDF11, #089F00) ;
  border:none;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Garamond', sans-serif;
  font-size: 14px;
}

.Button__inner {
  padding: 3px 0px 3px 0px;
}


.Button--success {
  background: rgba(76, 56, 112, 0.8);
}

.Button--link {
  background: none;
  border: none;
}

.Button--list {
min-width: 180px;
height: 30px;
background-color: $highlight-orange;
border: none;
border-radius: 5px;
color: white;
font-size: 18px;
box-shadow: $box-shadow;
cursor: pointer;
}

.Button--success {
  width: 150px;
  height: 30px;
  background-color: $success-green;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  box-shadow: $box-shadow;
  cursor: pointer;

}

.Button--upload {
  width: 150px;
  height: 30px;
  background-color: $base-blue;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  box-shadow: $box-shadow;
  cursor: pointer;
}

.Button--NavLink {
  text-decoration: none;
  color: white;
  background: none;
  margin: 10px;
  text-align: center

}
