.ReactModal__Overlay {
  background-color: rgba(173,216,230, 0.4) !important;
  z-index: 9999;
}

.ReactModal__Content {
  padding: 0 !important;
  margin: 100px auto;
  color: $black;
  height: 450px;
  max-width: 600px;
  z-index: 9999;
  a {
    color: $base-blue  ;
    font-weight: 400;
    margin: 0;
    font-size: inherit;
  }
  .ImageGallery--image {
    width: 200px;
    margin: 0px auto;
    display: block
  }
  img {
    width: 100%;

  }
  .Select--input {
    width: 200px;
    height: 30px;
  }
  .Button {
    margin: 0;
  }
}

.ModalHeader{
  width: 100%;
  height: 22px;
  background: $highlight-red;
  margin-bottom: $base-margin;
  cursor: pointer;
  z-index: 1000;
  i {
    padding: 2px;
    color: $black;
  }
}
