.TalkBoardSelect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;
}

.TalkBoardSelect--Images {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
