
$box-shadow: 0px 5px 13px -4px rgba(0,0,0,0.3);
$box-shadow-highlight: 0px 10px 15px rgba(0,0,0,0.7);
$box-shadow-inset: inset 0 0 10px #000000;

$base-blue: #38D4E3;
$highlight-red: #FF463C;
$highlight-orange: #FFC03C;

$success-green: #15CF5A;


$base-margin: 25px;
