body {
  margin: 0;
  font-family: 'Garamond', sans-serif;
  background: #FAFFFF; }

h1 {
  font-family: 'Garamond', sans-serif;
  font-size: 30px; }

.NavBar {
  height: 60px;
  width: 100%;
  background-color: #38D4E3;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

a {
  font-weight: 600;
  text-decoration: none;
  color: white;
  padding: 0;
  margin: 20px;
  cursor: pointer; }

a:focus,
a:active {
  border-bottom: 4px solid #FF463C; }

.ReactModal__Overlay {
  background-color: rgba(173, 216, 230, 0.4) !important;
  z-index: 9999; }

.ReactModal__Content {
  padding: 0 !important;
  margin: 100px auto;
  color: #1f2225;
  height: 450px;
  max-width: 600px;
  z-index: 9999; }
  .ReactModal__Content a {
    color: #38D4E3;
    font-weight: 400;
    margin: 0;
    font-size: inherit; }
  .ReactModal__Content .ImageGallery--image {
    width: 200px;
    margin: 0px auto;
    display: block; }
  .ReactModal__Content img {
    width: 100%; }
  .ReactModal__Content .Select--input {
    width: 200px;
    height: 30px; }
  .ReactModal__Content .Button {
    margin: 0; }

.ModalHeader {
  width: 100%;
  height: 22px;
  background: #FF463C;
  margin-bottom: 25px;
  cursor: pointer;
  z-index: 1000; }
  .ModalHeader i {
    padding: 2px;
    color: #1f2225; }

.NavLink {
  margin: 20px; }
  .NavLink a {
    text-decoration: none;
    color: white; }

.Button {
  text-align: center;
  margin: 10px auto;
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Garamond', sans-serif;
  font-size: 14px;
  font-weight: 600; }

.Button__inner {
  padding: 3px 0px 3px 0px; }

.Button--success {
  background: #15CF5A; }

.Button--warning {
  background: #FFC03C; }

.Button--open {
  background: #6C8DE6;
  margin: 0px 10px;
  color: white; }

.Button--link {
  background: none;
  border: none; }

.Button--categories {
  min-width: 180px;
  height: 30px;
  background-color: #FFC03C;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  box-shadow: 0px 2px 12px -2px rgba(0, 0, 0, 0.3);
  cursor: pointer; }

.Button--upload {
  width: 150px;
  height: 30px;
  background-color: #38D4E3;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  box-shadow: 0px 2px 12px -2px rgba(0, 0, 0, 0.3);
  cursor: pointer; }

.Button--NavLink {
  text-decoration: none;
  color: white;
  background: none;
  margin: 10px;
  text-align: center; }

.ButtonGroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }

.uploadcare--widget__button {
  text-align: center;
  margin: 10px auto;
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Garamond', sans-serif;
  font-size: 14px;
  background: #38D4E3;
  font-weight: 600; }

Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;
  width: 100%; }

form {
  width: 200px; }

Input {
  margin: 10px 0;
  width: 100%;
  height: 35px;
  text-align: center;
  border-radius: 3px;
  background: rgba(250, 250, 250, 0.2);
  padding: 5px 0;
  border: none;
  text-align: left;
  display: block;
  box-sizing: border-box;
  padding-left: 15px;
  color: #1f2225;
  font-size: 14px; }

.Input--invert {
  margin: 10px 0;
  width: 100%;
  height: 35px;
  text-align: center;
  border: 3px solid #38D4E3;
  background: rgba(250, 250, 250, 0.2);
  padding: 5px 0;
  text-align: left;
  display: block;
  box-sizing: border-box;
  padding-left: 15px;
  color: #1f2225;
  font-size: 14px; }

label {
  margin: 10px 0 5px 0; }

.ImageCard {
  width: 150px;
  margin: 10px;
  box-shadow: 0px 2px 12px -2px rgba(0, 0, 0, 0.3);
  height: 20vh;
  z-index: 2; }
  .ImageCard img {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0; }

.ImageCard:hover,
.ImageCard:focus,
.ImageCard:active {
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.7); }

.ImageCard__highlight {
  width: 400px;
  margin: 10px;
  box-shadow: 0px 2px 12px -2px rgba(0, 0, 0, 0.3);
  z-index: 10;
  position: absolute;
  padding: 0;
  box-shadow: inset 0 0 10px #000000;
  border: none; }
  .ImageCard__highlight img {
    width: 100%;
    position: relative;
    padding: 0;
    height: 100%; }

Header {
  margin: 10px;
  font-family: 'Garamond', sans-serif;
  color: #FF463C;
  width: 100%; }

.Select {
  position: relative;
  margin: 10px auto; }

.Select--input {
  height: 50px;
  width: 150px;
  width: 100%;
  height: 100%; }

select {
  height: 50px;
  width: 150px; }

.App {
  text-align: center;
  width: 100%; }
  .App body {
    margin: 0; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.Login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #330000;
  height: 100vh;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  color: #1f2225; }
  .Login .Form {
    margin: 0 auto; }
  .Login h1 {
    text-align: left; }

.Login--form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px; }
  .Login--form .Button--link {
    color: #1f2225; }

.TalkBoardMain {
  width: 100%;
  padding: 0;
  margin: 0; }

.TalkBoardView {
  width: 100%;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.TalkBoardView__overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 8;
  margin: 0px auto;
  background-color: rgba(0, 0, 0, 0.5); }

.TalkBoardSelect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: 0px auto; }

.TalkBoardSelect--Images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.TalkBoardStory--wrapper {
  width: 680px;
  margin: 0px auto;
  height: 22vh;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 0;
  background-color: white; }

.TalkBoardStory {
  margin: 0px auto;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative; }
  .TalkBoardStory .ImageCard {
    z-index: 10; }

.TalkBoardStory--bar {
  background-color: #FF463C;
  width: 100%;
  height: 30px;
  position: absolute;
  z-index: 9; }

.CategoriesList {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }
  .CategoriesList .Button {
    margin: 0 10px; }

.AddImageView {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #FAFFFF; }

.ImageGallery {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap; }

.ImageGallery--images {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  box-shadow: 0px 2px 12px -2px rgba(0, 0, 0, 0.3);
  margin: 25px 10px;
  background-color: #FFECC5; }
  .ImageGallery--images .ImageGallery--image {
    width: 100px;
    height: 100px;
    margin: 10px; }
  .ImageGallery--images .ImageGallery--user-image {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 3px solid #FF463C; }
  .ImageGallery--images img {
    width: 100%;
    height: 100%; }

.AddImageModal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; }
  .AddImageModal img {
    position: relative;
    margin: 0px auto;
    width: 100px; }

.UpdateCategoryModal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  .UpdateCategoryModal img {
    position: relative;
    margin: 0px auto;
    width: 100px; }

.ImageUpload {
  margin: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center; }
